#navbar {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    border-radius: 5px;
    align-items: center;
}

#navbar div {
    display: flex;
    padding: 5px;
}

#navbar .navpage {
    display: block;
    text-align: center;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}