.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e8eddf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #cfdbd5;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}
li:hover {
    background: #d4d4d4;
}